/*
 * Stylesheet for http://sarahnoor.com
 * Date: June 2014
 * Author: Arup Sen
 * http://arupdesigns.co.uk
 * arup@arupdesigns.co.uk
 * css to zero courtesy of Eric Meyer with adjustments
 * No license. Use what you like.
 * Happy to receive feedback :)
 * */


/* Eric Meyer css Reset */

html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
}
a img, :link img, :visited img {border: 0;}
table {
  border-collapse: collapse;
border-spacing: 0;}
ol, ul {list-style: none;}
q:before, q:after,
blockquote:before, blockquote:after {
content: "";}
/*    after the zeroing out what next ???*/

/* COLOUR PALETTE
 *
 * #C9C9C9 - very pale grey
 * #B0B0B0 - medium grey
 * #666666 - darker grey
 * #B31E00 - red
 * #006276 - blue
 *
 * */
/* Altera webfont */
@font-face {
    font-family: 'alteraregular';
    src: url('altera-webfont.eot');
    src: url('altera-webfont.eot?#iefix') format('embedded-opentype'),
         url('altera-webfont.woff') format('woff'),
         url('altera-webfont.ttf') format('truetype'),
         url('altera-webfont.svg#alteraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* BG IMAGE PATH url('../images/my_image.gif') */
/*the main global rules*/
body{font-family:'Lato', Arial, sans-serif;font-size:100.01%;position:relative;margin:0 auto;background-color:#FFFFFF;color: #666;}
div#wrap{
  margin: 0 auto;
  position: relative;
}
  
/*grouped selectors - good for position:absolute and relative*/


/*main heading and sub heading*/
.heading {
  height: 170px;
/*  border-bottom: 1px solid #999; */
  margin-top: -10px;
}
h1 {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 160px;
  letter-spacing: 20px;
/*  width: 380px;*/
 /* margin: 0 auto;*/
  text-align: center;
  word-spacing: -28px;
  white-space:nowrap;
}
@media all and (max-width: 768px) {
  h1{
    font-size: 1.3em;
  }
}
h1 a, h1 a:hover {
  text-decoration: none;
  color: #666;
  font-family: 'alteraregular';
}
.social-icons {
font-size: 30px;
margin-top: 13px;
}
.social-icons a {
color: #837F7F;
}
.social-icons a:hover {
  color: #666;
}
.social-icons i {
margin: 0 1px;
}
  
/*content area*/
#contents p{
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 1.5;
  font-weight: 300;
}

div#clear {clear:left;}
/* main navigation */
ul#navbar li a{
  text-decoration:none;
  color: #666;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: 300;
}
ul#navbar li a:hover {
  color: #ccc;
}
li#nav-collections {
padding-bottom: 10px;
}
/* bootstrap override for navbar */
.nav>li>a {
  padding:0;
}
.nav>li>a:hover {
  background: none;
}
.navbar-default {
  border: none;
  background: transparent;
}
.navbar {
  min-height: 0;
  margin-bottom: -17px;
  top: -40px;
}
.navbar-toggle {
  margin-top: -17px;
  margin-right: -15px;
  float: left;
}
.dropdown-toggle .caret {
  display: none;
}
li.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  border-radius: 0;
  padding: 3px 10px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
  background-color: #FFF;
  color: #ccc;
}
#nav-collections ul.dropdown-menu li a {
font-size: 12px;
}
/* home page */
#index img {
  margin: 0 auto;
}
/* about page */
#about #contents p {
  text-align: center;
  margin-bottom: 1.2em;
  font-size: 14px;
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
img.img-responsive.birds {
max-width: 106%;
position: relative;
right: -15px;
}
#about #contents .col-md-6 {
margin-top: 0px;
}
/* collection pages with gallery and campaign page */
div#NAV-ID {
  margin: 0 auto;
}
.crsl-nav.col-md-8 {
  float: none;
}
div.crsl-wrap {
  width: 50000px !important;
  margin-top: -15px;
}
a.previous {
  position: absolute;
  z-index: 2;
  padding-left: 15px;
  left: 0px;
}
a.next {
  position: absolute;
  right: 0px;
  z-index: 2;
  text-align: right;
  padding-right: 15px;
}
a.next, a.previous {
  text-decoration: none;
  font-size: 60px;
  color: #7A7272;
  top: 270px;
  /*border: 1px solid #ccc;*/
  width: 1em;
  background: #FFF;
  opacity: 0.7;
  /*box-shadow: 2px 2px 1px #ccc;*/
}
#pyramids a.previous, #pyramids a.next, #pretty a.previous, #pretty a.next {
  top: 150px;
}
figure.crsl-item {
  max-width: 400px !important;
  margin-left: 175px;
}
@media (min-width: 992px) and (max-width:1199px){
  figure.crsl-item {
    margin-left: 72px;
  }
}
@media (min-width: 768px) and (max-width:991px){
  figure.crsl-item {
    margin-left: -35px;
  }
}
@media (min-width: 320px) and (max-width:767px){
  figure.crsl-item {
    margin-left: -179px;
  }
}
@media (max-width: 320px) {
  figure.crsl-item {
    margin-left: 0;
  }
  figure p {
    width: 300px;
    padding-top: 40px;
  }
}
figure p {
  width: 400px;
  text-align: center;
  position: absolute;
  top: 0px;
  height: 500px;
  background: #FFF;
  opacity: 0.9;
  font-size: 1.3em;
  padding-top: 140px;
  letter-spacing: 1px;
  line-height: 1.8em;
}
figure p:nth-of-type(2){
  background: transparent;
  opacity:1;
}
#campaign figure p {
  display: none !important;
}
/* contact page */
.numbers {
letter-spacing: 0.7px;
line-height: 1.5;
font-weight: 300;
font-size: 14px;
padding-left: 15px;
}
.numbers dt {
  /* font-weight: bold; */
  margin-top: 16px;
  color: #666;
  white-space: nowrap;
}
.numbers dt:nth-of-type(1),
.numbers dt:nth-of-type(2),
.numbers dt:nth-of-type(3){
  color: #555555;
  font-size: 14px;
}
dt a, dd a {
  color: #666;
}
dd a:hover, dt a:hover {
  color: #ccc;
  text-decoration: none;
}
.numbers .credits {
  font-size: 80%;
  color: #666;
}
/* .numbers dd span {
  color: #ccc;
  font-family: serif;
} */
/* press page */
#press #contents h2 {
  text-align: center;
  font-weight: 300;
  color: #666;
  font-size: 14px;
}

/*footer image link - arup designs*/
#footer{}

/*all the Safari stuff together*/
@media screen and (-webkit-min-device-pixel-ratio:0){
  /*  global rules*/
    div#wrap{}/*safari rule*/

    /*  navbar*/
      
      ul#navbar{}
        ul#navbar li {}
          


        /*  content area*/
          div#contents{}
            div#contents p{}
              
              
          }
